*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

table{
    width: 100%;
    border-collapse: collapse;    
}

td, th{
    border: 1px solid;
    padding: 1%;
    text-align: center;
}

/* on cible tous les éléments tr pair avec even, si on voulait les impairs ça serait odd */
tr:nth-child(even){
    background-color: rgb(175, 155, 130);
}

table a {
    display: block;
}

tbody tr:hover{
    background-color: green;
}